/*
 * 项目名称：安全生产标准化管理系统(Safety Standardization Management System)
 * 版权申明：福州市磬基电子有限公司、福州市蓝石电子有限公司所有，未经许可不得在任何软件中以任何形式使用全部或部分代码，不得更改本项目的代码。
 * 文件名称：base.css
 * 创建时间：2015-04-29
 * 创建用户：张铮彬
 */


:focus {
    outline: 0
}

.easyui-tabs table {
    table-layout: fixed;
}

.datagrid-row-selected .datagrid-cell a{
	color:#FFF;
}
.tree-node-selected a{
	color:#FFF;
}

.panel-title a{
	text-decoration: none;
	color:#777;
}
.span12 {
    width: 940px
}

.span11 {
    width: 860px
}

.span10 {
    width: 780px
}

.span9 {
    width: 700px
}

.span8 {
    width: 620px
}

.span7 {
    width: 540px
}

.span6 {
    width: 460px
}

.span5 {
    width: 380px
}

.span4 {
    width: 300px
}

.span3 {
    width: 220px
}

.span2 {
    width: 140px
}

.span1 {
    width: 60px
}
