/*
 * 项目名称：安全生产标准化管理系统(Safety Standardization Management System)
 * 版权申明：福州市磬基电子有限公司、福州市蓝石电子有限公司所有，未经许可不得在任何软件中以任何形式使用全部或部分代码，不得更改本项目的代码。
 * 文件名称：base.css
 * 创建时间：2015-04-29
 * 创建用户：张铮彬
 */
:focus {
    outline: 0
}

.datagrid-row-selected .datagrid-cell a {
    color: #FFF;
}

.tree-node-selected a {
    color: #FFF;
}

.panel-title a {
    text-decoration: none;
    color: #777;
}

.span12 {
    width: 720px
}

.span11 {
    width: 660px
}

.span10 {
    width: 600px
}

.span9 {
    width: 540px
}

.span8 {
    width: 480px
}

.span7 {
    width: 420px
}

.span6 {
    width: 360px
}

.span5 {
    width: 300px
}

.span4 {
    width: 240px
}

.span3 {
    width: 180px
}

.span2 {
    width: 120px
}

.span1 {
    width: 60px
}


/* 一条横线 */
.hr {
    height: 0;
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
    margin-bottom: 5px
}

.outline{
    border-bottom: 1px solid #808080;
}