/*
 * 项目名称：安全生产标准化管理系统(Safety Standardization Management System)
 * 版权申明：福州市磬基电子有限公司、福州市蓝石电子有限公司所有，未经许可不得在任何软件中以任何形式使用全部或部分代码，不得更改本项目的代码。
 * 文件名称：fix.css
 * 创建时间：2015年4月30日 
 * 创建用户：林峰
 */
.toolbar{ padding-left:15px; height:37px; line-height:37px; background:url(../images/toolbarbg.png) repeat-x; border-bottom:1px solid #c1d3de; border-top:none;}

.panel-header{
    padding:10px !important;line-height:33px; background:url(../images/righttitlebig.png) repeat-x; border:1px solid #c1d3de; overflow:visible;
}
.panel-title{
    padding-left:22px; font-weight:bold; font-size:14px; font-family:'宋体'; color:#000000; background:url(../images/titleico.png) no-repeat left center !important;
}
.panel-title a {
    text-decoration: none;
    color: #777;
}
.panel-body,.datagrid-toolbar,.datagrid-pager,.datagrid-td-rownumber{
    background-color:#FFF !important;
}
.datagrid-toolbar{
    padding:10px !important;
}
.datagrid-header-row,
.datagrid-row {
  height: 35px !important;
}
.datagrid-header-row td{
    height:35px; line-height:35px; border-bottom:1px solid #c1d3de; background:url(../images/tablelistbg.png) repeat-x; font-weight:bold;
}
.datagrid-header{
    background:url(../images/tablelistbg.png) repeat-x;
}
.layout-expand-west .panel-title{
	background:transparent !important;
}
label {
    line-height: 33px;
}
.datagrid-row-selected .datagrid-cell a,.tree-node-selected a {
    color: #FFF;
}
