/*标题栏*/
.titlebar {
    border: 1px solid #c1d3de;
    border-bottom: 0;
    font-weight: bold;
    font-size: 13px;
    padding: 7px;
    background: #daeef5 url(/resource/images/righttitlebig.png) repeat-x;
}

.titlebar_border {
    border: 1px solid #c1d3de;
    font-weight: bold;
    font-size: 13px;
    padding: 7px;
    background: #daeef5 url(/resource/images/righttitlebig.png) repeat-x;
}

.titlebar_noborder {
    border: 0;
    font-weight: bold;
    font-size: 13px;
    padding: 7px;
    background: #daeef5 url(/resource/images/righttitlebig.png) repeat-x;
}

.titlebar img, .titlebar_border img, .titlebar_noborder img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

/*列表*/
.table {
    width: 100%;
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    color: #333333;
    border: 1px #c1d3de;
    border-collapse: collapse;
}

.table thead {
    background-color: #daeef5;
}

.table th {
    padding: 8px;
    border: 1px solid #c1d3de;
}

.table td {
    padding: 8px;
    border: 1px solid #c1d3de;
}

.table .th_left {
    text-align: left;
}

.table .td_center {
    text-align: center;
}

div.content {
    border: 1px solid #c1d3de;
}

/*奇数行*/
.oddrow {
    background-color: #eff6fa;
}

/*选择行*/
.activerow {
    background-color: #ADBDFF;
}

/*链接样式*/
a, a:visited {
    text-decoration: none;
    color: #0000EE;
}

/*返回*/
.backing {
    float: right;
    padding-right: 5px;
}