/*
 * 项目名称：安全生产标准化管理系统(Safety Standardization Management System)
 * 版权申明：福州市磬基电子有限公司、福州市蓝石电子有限公司所有，未经许可不得在任何软件中以任何形式使用全部或部分代码，不得更改本项目的代码。
 * 文件名称：login.css
 * 创建时间：2015-07-28
 * 创建用户：张铮彬
 */

html, body {
    height: 100%;
}

body {
    background-color: #2277bc;
    font-size: 16px;
}

body, * {
    font-family: "微软雅黑", "宋体", serif;
}

/* begin layout */

.floater {
    float: left;
    height: 50%;
    margin-bottom: -250px;
}

.container {
    height: 600px;
}

.content {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 610px;
    height: 410px;
    padding-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #423838;
    border-radius: 8px;
}

.footer {
    font-size: 12px;
    font-family: "微软雅黑", serif;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}

/* end layout */

/* begin element */

.logo {
    width: 590px;
    height: 161px;
    line-height: 161px;
    margin: 0 auto;
    background: url("../images/login/logo_backgroup.gif") no-repeat;
    border-radius: 5px;
}

.logo img {
    vertical-align: middle;
}

.loginForm {
    width: 315px;
    margin: 0 auto;
}

.loginForm p {
    margin-top: 15px;
}

.loginForm label {
    width: 50px;
    display: inline-block;
}

input[type=password], input[type=text] {
    height: 39px;
    overflow: hidden;
    width: 200px;
    outline: none;
    line-height: 39px;
    border-radius: 5px;
    padding: 0 0 0 45px;
    border: 1px solid #CCCCCC;
}

input.username {
    background: #EEF6FB url("../images/login/username.png") no-repeat 14px center;

}

input.password {
    background: #EEF6FB url("../images/login/password.jpg") no-repeat 14px center;
}

input.vcode {
    background: #EEF6FB url("../images/login/vcode.jpg") no-repeat 14px center;
}

img.vimg {
    border: 1px solid #CCCCCC;
    vertical-align: middle;
    cursor: pointer;
}

.loginBtn {
    margin-left: 54px;
    color: #FFFFFF;
    background-color: #2276BD;
    border-radius: 5px;
    width: 130px;
    height: 39px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

input.checkbox {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

label.remember {
    display: inline;
    font-size: 14px;
    cursor: pointer;
}

a.forget, a.forget:visited {
    font-size: 12px;
    color: #0000ff;
}

/* end element */