a {
	color: rgb(0, 51, 153);
}
.skin {
	background-position: 0px 0px; background-image: url(img/cf35b8de410727988751c10fd486b28497f451a7.png);
}
.skin-fullScreen {
	background-position: 0px 0px; background-image: url(img/237606d7380e8080c568c8a46f928b3afd609932.jpg);
}
.skin-top {
	background-image: url(img/b999fbd09d39bf37327cf25394aab6db1e074995.jpg);
}
.skin-top {
	background: -ms-linear-gradient(rgb(25, 110, 172) 0px, rgb(127, 180, 217) 100%);
}
.skin-top-inner {
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgb(202, 224, 241) 50%, rgba(255, 255, 255, 0) 100%); display: block;
}
.skin-top-inner2 {
	background: -ms-linear-gradient(rgb(0, 96, 182) 0px, rgba(255, 255, 255, 0) 100%); display: block; opacity: 0.4;
}
.skin-top-left {
	
}
.skin-top-right {
	background-image: url(img/1a62faa3aaf960a9338b4a758718e9185bb47fd5.png); _background-image: url(img/b5cf0b0905f5637d7b6727d4151fe428fb54352f.gif);
}
.skin-left {
	border-color: #CCCCCC;
}
.skin-left-top {
	
}
.skin-left-bottom {
	
}
.skin-right {
	
}
.skin-right-top {
	
}
.skin-right-bottom {
	
}
.skin-bottom {
	
}
.rP0 {
	visibility: hidden;
}
.tG0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.kl0:hover .kJ0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.kJ0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.pm1 .nui-ico {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.kk0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.md0 .nui-ico {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tT0 .nui-tree-item-symbol .nui-ico-rArr {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tT0 .nui-tree-item-symbol .nui-ico-dArr {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.ra0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.qE0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.rW2 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.rS0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.rq0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.qp0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.hC0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.ga0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tT0 .nui-tree-item-label-hover {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tT0 .nui-tree-item-label:hover {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tT0 .nui-tree-item-label-selected {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tT0 .nui-tree-item-label-selected:hover {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.sJ0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tA0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.rC0 .nui-ico {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.mE0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.kA0 {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tA0 .nui-tabs-item-close .nui-ico {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.tA0 .nui-ico-compose {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.gWel-tabs-panel-ctrl .gWel-ico {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.nui-ico-inSkin {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.fn-bg {
	background-image: url(img/59c64e8d8e5a5ff537116b8104fdd4eb592c7da7.png); background-repeat: no-repeat; _background-image: url(img/d911c27ac616c970b95ef1df2a130b8d19a0d6ac.gif);
}
.sJ0 {
	background-repeat: repeat-x;
}
.tA0 {
	background-repeat: repeat-x;
}
.fn-bgx {
	background-repeat: repeat-x;
}
.kl0 {
	color: rgb(253, 253, 253) !important;
}
.sh0 {
	color: rgb(255, 255, 255) !important;
}
.pn1 {
	color: rgb(255, 255, 255);
}
.ru0 {
	
}
.sU0 .nui-ipt-placeholder {
	
}
.pR0 {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.tA0 {
	border-color: rgb(248, 250, 252); color: rgb(51, 51, 51);
}
.tz0 .nui-tabs-item-focus {
	border-color: rgb(248, 250, 252);
}
.tz0 .nui-tabs-item-hover {
	border-color: rgb(248, 250, 252);
}
.tz0 .nui-tabs-item-active {
	border-color: rgb(248, 250, 252);
}
.tz0 .nui-tabs-item-selected {
	border-color: rgb(15, 96, 153); color: rgb(255, 255, 255);
}
.tT0 .nui-tree {
	
}
.oz0 {
	color: rgb(60, 102, 146); text-shadow: 0px 1px 0px #fff;
}
.qd0 {
	display: block;
}
.tT0 .nui-tree-item-label-hover {
	
}
.tT0 .nui-tree-item-label:hover {
	
}
.tT0 .nui-tree-item-label-selected {
	
}
.tT0 .nui-tree-item-label-selected:hover {
	
}
.tT0 .nui-tree-item-label-selected .nui-tree-item-text {
	text-shadow: 0px 1px 0px #fff;
}
.qW0 {
	border-color: rgb(224, 224, 224);
}
.qq0 {
	opacity: 0.03;
}
.gWel .frame-main-cont-body {
	background: 0px;
}
.tR0 .frame-main-cont-head {
	background-color: rgb(245, 247, 250);
}
.sI0 {
	background-color: rgb(245, 247, 250);
}
.lB0 {
	border-color: rgb(197, 210, 218);
}
.iI0 {
	color: rgb(153, 153, 153);
}
.tI0 .nui-split {
	border-color: rgb(197, 210, 218);
}
.sz0 {
	border-color: rgb(202, 216, 225); background-color: rgb(245, 247, 250);
}
.fM0 {
	border-color: rgb(194, 212, 227); background-color: rgb(232, 240, 247);
}
.tn0 .nui-split {
	border-color: rgb(197, 210, 218);
}
.tW0 {
	background-color: rgb(245, 247, 250);
}
.tW0 .frame-main-cont-head {
	background-color: rgb(245, 247, 250);
}
.tW0 .frame-main-cont-body {
	background-color: rgb(245, 247, 250);
}
.tL0 {
	background-color: rgb(245, 247, 250);
}
.tL0 .frame-main-cont-head {
	background-color: rgb(245, 247, 250);
}
.tL0 .frame-main-cont-body {
	background-color: rgb(245, 247, 250);
}
.kZ0 {
	border-color: rgb(204, 204, 204);
}
.G0 {
	background-color: rgb(227, 234, 244);
}
.pW0:hover {
	background-color: rgb(205, 227, 243);
}
.lA0 {
	background-color: rgb(249, 249, 249);
}
.tb0 {
	border-color: rgb(213, 214, 215);
}
.tv0 {
	border-color: rgb(213, 214, 215);
}
.nl0 {
	border-color: rgb(213, 214, 215);
}
.nl0 {
	background-color: rgb(255, 255, 255);
}
.im0 {
	background-color: rgb(255, 255, 255);
}
.hV0 {
	background-color: rgb(255, 255, 255);
}
.es0 {
	color: rgb(187, 187, 187);
}
.eO0 {
	color: rgb(187, 187, 187);
}
.fQ0 .il0 {
	color: rgb(125, 125, 125);
}
.rF0:hover {
	background-color: rgb(245, 245, 245);
}
.rF0:hover .nl0 {
	background-color: rgb(245, 245, 245);
}
.rF0:hover .im0 {
	background-color: rgb(245, 245, 245);
}
.rF0:hover .hV0 {
	background-color: rgb(245, 245, 245);
}
.gv0 .nl0 {
	background-color: rgb(255, 255, 236);
}
.gv0 .im0 {
	background-color: rgb(255, 255, 236);
}
.gv0 .hV0 {
	background-color: rgb(255, 255, 236);
}
.gv0:hover .nl0 {
	background-color: rgb(253, 253, 224);
}
.gv0:hover .im0 {
	background-color: rgb(253, 253, 224);
}
.gv0:hover .hV0 {
	background-color: rgb(253, 253, 224);
}
.ij0 .nl0 {
	background-color: rgb(255, 255, 213) !important;
}
.ij0 .nl0 .im0 {
	background-color: rgb(255, 255, 213) !important;
}
.ij0 .nl0 .hV0 {
	background-color: rgb(255, 255, 213) !important;
}
.nn0 {
	border-color: rgb(163, 189, 208);
}
.bL0 {
	border-color: rgb(176, 183, 191); color: rgb(255, 255, 255); background-color: rgb(176, 183, 191);
}
.dd0 {
	color: rgb(170, 170, 170);
}
.iU2 {
	border-color: rgb(65, 136, 195) !important;
}
