<!--
  ~ 项目名称：安全生产标准化管理系统(Safety Standardization Management System)
  ~ 版权申明：福州市磬基电子有限公司、福州市蓝石电子有限公司所有，未经许可不得在任何软件中以任何形式使用全部或部分代码，不得更改本项目的代码。
  ~ 文件名称：plugin.xml
  ~ 创建时间：2015-04-02
  ~ 创建用户：张铮彬
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 静态缓存插件 -->
    <bean class="com.lanstar.plugin.staticcache.StaticCachePlugin">
        <constructor-arg>
            <list>
                <bean class="com.lanstar.plugin.staticcache.impl.TenantDbCache"/>
                <bean class="com.lanstar.plugin.staticcache.impl.StandardTemplateCache"/>
                <bean class="com.lanstar.core.handle.action.ActionCache"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- 数据源插件 -->
    <bean class="com.lanstar.plugin.db.SpringDbPlugin"/>
    <!-- 模板插件 -->
    <bean class="com.lanstar.plugin.template.freemarker.FreemarkerPlugin"/>
    <!-- JSON插件 -->
    <bean class="com.lanstar.plugin.json.JsonPlugin"/>
    <!-- 资源文件插件 -->
    <bean class="com.lanstar.plugin.file.ResourcePlugin"/>
    <!-- 控制台插件 -->
    <!--<bean class="com.lanstar.plugin.console.ConsolePlugin"/>-->
</beans>