<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 项目名称：安全生产标准化管理系统(Safety Standardization Management System)
  ~ 版权申明：福州市磬基电子有限公司、福州市蓝石电子有限公司所有，未经许可不得在任何软件中以任何形式使用全部或部分代码，不得更改本项目的代码。
  ~ 文件名称：spring.xml
  ~ 创建时间：2015-03-31
  ~ 创建用户：张铮彬
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Application Configuration -->
    <bean class="com.lanstar.app.AppConfiguration">
        <constructor-arg>
            <list>
                <value>/WEB-INF/system.properties</value>
            </list>
        </constructor-arg>
    </bean>

    <!-- 数据方言工厂初始化 -->
    <bean class="com.lanstar.db.dialect.DialectFactory">
        <constructor-arg>
            <map>
                <entry key="mysql">
                    <bean class="com.lanstar.db.dialect.impl.MySqlDialect"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>
    <!-- 数据源工厂初始化 -->
    <bean class="com.lanstar.db.datasource.DataSourceFactory">
        <constructor-arg>
            <map>
                <entry key="druid">
                    <bean class="com.lanstar.db.datasource.impl.DruidDataSourceProvider"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <!-- RenderResolver 工厂 -->
    <bean class="com.lanstar.core.render.resolver.RenderResolverFactory">
        <constructor-arg>
            <map>
                <entry key="html">
                    <bean class="com.lanstar.core.render.resolver.HtmlRenderResolver"/>
                </entry>
                <entry key="json">
                    <bean class="com.lanstar.core.render.resolver.JsonRenderResolver"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <!-- Dispatcher初始化 -->
    <bean class="com.lanstar.core.handle.Dispatcher">
        <constructor-arg>
            <list>
                <!--<bean class="com.lanstar.core.handle.statics.StaticHandler"/>-->
                <bean class="com.lanstar.core.handle.identity.IdentityHandler"/>
                <bean class="com.lanstar.core.handle.action.ActionHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- 导入插件 -->
    <import resource="plugin.xml"/>
</beans>